<p class="h5 text-left mb-3">
    Ведіть дані атрибута {{value}}:
</p>
<div class="form-group row py-2">
    <div class="col-2">
        <label for="{{parameterName}}_parameter{{value}}_name" class="form-text form-label">
            Назва атрибута:
        </label>
    </div>
    <div class="col-6">
        {% if parameterName == 'main_page_theme_link' %}
        <input type="text" id="{{parameterName}}_parameter{{value}}_name" name="{{parameterName}}_parameter{{value}}_name"
            class="form-control">
        {% else %}
        <input type="text" id="{{parameterName}}_parameter{{value}}_name" name="{{parameterName}}_parameter{{value}}_name"
            class="form-control" required>
        {% endif %}
    </div>
</div>
<div class="form-group row py-2">
    <div class="col-2">
        <label for="{{parameterName}}_parameter{{value}}_value" class="form-text form-label text-nowrap">
            Значення атрибута:
        </label>
    </div>
    <div class="col-6">
        {% if parameterName == 'main_page_theme_link' %}
        <input type="text" id="{{parameterName}}_parameter{{value}}_value"
            name="{{parameterName}}_parameter{{value}}_value" class="form-control">
        {% else %}
        <input type="text" id="{{parameterName}}_parameter{{value}}_value"
            name="{{parameterName}}_parameter{{value}}_value" class="form-control" required>
        {% endif %}
    </div>
    <div class="col col-4 py-2">
        <input class="form-check-input" type="checkbox" id="{{parameterName}}_parameter{{value}}_regex"
            name="{{parameterName}}_parameter{{value}}_regex"
            value="True">
        <label for="{{parameterName}}_parameter{{value}}_regex" class="form-check-label">
            Використати<a href="https://en.wikipedia.org/wiki/Regular_expression">regex</a>?
        </label>
    </div>
</div>
<div id="fieldToSwap{{ idNum }}">
    <div>
        <input type="button" 
               class ="btn btn-success"
               value="+" 
               hx-get="{% url 'newTagField'%}?parameter={{parameterName}}&value={{value|add:"1"}}"
               hx-trigger="click"
               hx-target="#fieldToSwap{{ idNum }}"
               hx-swap="outerHTML">
    </div>
</div>