{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-success">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'about' %}">
        <img src="{% static 'parser/img/favicon.ico' %}" alt="" width="30" height="30">
        {{ navbarTitle }}
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">{{ link1Title }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'results' %}">{{ link2Title }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'parsing' %}">{{ link3Title }}</a>
          </li>
          {%if user_list %}
          <li>
            <a class="nav-link" href="{%url 'save_as_csv' %}">Зберегти дані як csv</a>
          </li>
          {%endif%}
          {%if search_results %}
          <li>
            <a class="nav-link" href="{%url 'save_search_csv' %}">Зберегти дані як csv</a>
          </li>
          {%endif%}
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" id="navbarScrollingDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                User Activity
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
               {%if user.is_superuser%}
                <li><a class="dropdown-item" href="{%url 'register_user'%}">Register</a></li>
               {%endif%}
               {%if user.is_authenticated%}
                <li><a class="dropdown-item" href="{%url 'logout'%}">Logout</a></li>
               {%else%}
                <li><a class="dropdown-item" href="{%url 'login'%}">Login</a></li>
               {%endif%}
              </ul>
        </ul>
      </div>
    </div>
  </nav>