                            <!-- hx-post = "{% url 'search_user' %}"
                            hx-trigger = 'keyup changed delay:500ms'
                            hx-swap="innerHTML"
                            hx-target = '#results_user'  -->







                            <!-- id="forumfilter"
                                hx-post = "{% url 'search_user' %}"
                                hx-trigger = 'keyup changed delay:500ms'
                                hx-swap="innerHTML"
                                hx-target = '#results_user' -->