
<center>
    <form method="post" action="" class="container-sm my-3">
        {% csrf_token %}
        <div class="row justify-content-center">
            <input type = "text"
                name = 'search'
                class = "form-control my-1 w-50"
                hx-post="{% url 'search_user' %}" 
                hx-target="#results_user"
                hx-trigger="click[Enter]"
                placeholder = 'Введіть нікнейм користувача'>
            </input>
        </div>
        <div class="row justify-content-center">
            <select name="forumfilter" class="form-select my-2 w-50">
                <option value="" class="text-muted disabled">Оберіть в якому форумі шукати...</option>
                {%for forum in forums%}
                <option value="{{forum}}">{{forum}}</option>
                {%endfor%}
            </select>
        </div>
        <button class ='btn btn-success' type="submit" hx-post="{% url 'search_user' %}" hx-target="#results_user">Знайти</button> 
    </form>
</center>