{% extends 'parser/base_generic.html' %}

{% block title %} <title>Parse</title> {% endblock title %} 
{% load static %}
{% block content %}

<h1 class="display-1 text-center">Парсинг</h1>

<div class="container-fluid border-top border-3 my-5" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <div class="row py-3">
        {% include 'parser/partials/parsingForm.html' %}
        <div class="col-5"
            hx-get="{% url 'getProgressText' %}"
            hx-trigger="every 1s"
            hx-swap="innerHTML">
            
        </div>
    </div>
</div>

{% endblock content %}