<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
    <link rel="shortcut icon" href="{{url_for('static', filename='img/favicon.ico')}}" type="image/x-icon">
    <title>Parser | Settings</title>
</head>
<body class="bg-dark text-light">
    
    <div class="container-xxl">
        <h1 class="display-1 text-center my-3 py-3">Введіть інші потрібні данні:</h1>
    </div>

    <div class="container-xxl border border-3">
        <form action="{{ request.base_url }}" method="post" id="form">

            <!-- First row -->
            <div class="row justify-content-start m-3">

                <!-- paginationTemplate (input : str) -->
                <div class="col-6 row container-sm border-end">
                    <div class="col-4 text-nowrap text-end my-2 py-1">
                        <label class="m-2 form-input-label" for="paginationTemplate">Шаблон пагинації: </label>
                    </div>
                    <div class="col-7 offset-sm-1 my-3">
                        <input type="text" id="paginationTemplate" name="paginationTemplate" class="form-control" required>
                    </div>
                    <small class="text-muted mx-2 py-0 my-0">Ваш шаблон повинен повторюватися при будь-якому переході сторінок, і та частина, яка змінюється(номер сторінки) повинна бути замінена на "{}". Замість фігурних лапок пізніше будть підставлятися номера сторінок.</small>
                    <small class="text-muted mx-2 py-0 my-0">Приклади правильного шаблону: "page-{}" (для зображення знизу), "&st={}".</small>
                    <img src="{{ url_for('static', filename='img/paginationExample.gif')}}" alt="paginationTemplateExample.png" class="img-fluid mx-2 py-0 my-0">
                </div>

                <!-- paginationCase (select : ['I', 'C']) -->
                <div class="col-6 row container-sm mx-2">
                    <div class="col-4 my-2 py-1">
                        <label class="form-select-label m-2" for="paginationCase">Тип пагінації:</label>
                    </div>
                    <div class="col-8 my-2 py-1">
                        <select name="paginationCase" id="paginationCase" class="form-select" required>
                            <option class="text-muted disabled">Оберіть тип...</option>
                            <option value="I">Збільшення значення (../page-1, ../page-2, etc.)</option>
                            <option value="C">Кількість елементів (../&st=35, ../&st=70, etc.)</option>
                        </select>
                    </div>

                    <!-- if paginationCase == 'C': -->
                    <div class="col-6 row my-2 py-1" id="step" style="visibility: hidden">
                        <!-- forumStep (input : int) -->
                        <div class="col-8">
                            <label class="form-input-label" for="forumStep">Кількість елементів у темі</label>
                        </div>
                        <div class="col-4">
                            <input type="text" id="forumStep" name="forumStep" class="form-control my-1 py-1">
                        </div>
                        
                        <!-- threadStep (input : int) -->
                        <div class="col-8">
                            <label class="form-input-label" for="threadStep">Кількість елементів у підтемі</label>
                        </div>
                        <div class="col-4">
                            <input type="text" id="threadStep" name="threadStep" class="form-control my-1 py-1">
                        </div>
                    </div>
                    <div class="col-6 row" id="paginationExplanation" style="visibility: hidden">
                        <small class="col-12 text-muted mx-2">В цих полях потрібно ввести, скільки елементів(у темі чи в підтемі) відображається на одній сторінці. Кількість елементів можна побачити у першому значенні шаблону сторінки, що ви вели ліворуч.</small>
                        <small class="col-12 text-muted mx-2">Наприклад: у "&st=35", 35 -- це значення кількості елементів у темі/підтемі, в залежності де ви дивилися.</small>
                    </div>
                    <script src="{{ url_for('static', filename='javascript/stepShow.js') }}"></script>
                    <!-- endif -->

                </div>

            </div>

            <!-- Second row -->
            <div class="row justify-content-start border-top m-3">
                <!-- botProtection (checkbox : bool) -->
                <div class="col-6 row container-sm border-end mt-2">
                    <div class="col-1 mt-3 mx-2">
                        <input type="checkbox" class="form-check-input" id="botProtection" name="botProtection" value="True">
                    </div>
                    <div class="col-3 text-start text-nowrap m-2">
                        <label class="form-check-label mt-2" for="botProtection">Захист від ботів</label>
                    </div>
                    <small class="col-12 text-muted m-2">Позначте цей пункт, якщо для цільового форуму потрібно завантажувати сторінки тільки через браузер.</small>
                </div>

                <!-- pageLoadDelay (input : int)-->
                <div class="col-6 row container-sm ms-2">
                    <div class="col-4 mt-3">
                        <label class="form-control-label mb-0" for="pageLoadDelay">Затримка між запитами (у секундах)</label>
                    </div>
                    <div class="col-4">
                        <input class="form-control mt-3 mb-0" type="text" id="pageLoadDelay" name="pageLoadDelay" value="0" required>
                    </div>
                    <small class="col-12 text-muted">Якщо потрібно, введіть скільки секунд треба чекати між запитами на сторінки форуму. Можна вводити значення із точкою(наприклад: 0.3).</small>
                </div>
            </div>

            <!-- Third row -->
            <div class="row justify-content-center border-top m-3">
                <!-- forumLink : str(input) -->
                <div class="col-7 row justify-content-start my-3">
                    <div class="col-4 text-start my-3 py-1">
                        <label class="form-label" for="forumLink">Ведіть посилання на форум (разом із https:// чи http://)</label>
                    </div>
                    <div class="col-7 my-3 py-1">
                        <input class="form-control" type="text" id="forumLink" name="forumLink" required>
                    </div>
                </div>

                <!-- loginRequirment : bool(checkbox) -->
                <div class="col-2 row justify-content-start my-3">
                    <div class="col-2 my-3 py-1">
                        <input class="form-check-input" type="checkbox" id="loginRequirment" name="loginRequirment" value="True">
                    </div>
                    <div class="col-9 my-3 py-1">
                        <label class="form-check-label" for="loginRequirment">Чи обов'язково війти в систему для парсу?</label>
                    </div>
                </div>
            </div>

            <!-- Submit button-->
            <div class= "row justify-content-center m-3">
                <button class="col-lg-6 btn btn-success">Підтвердити та надіслати</button>
            </div>

        </form>
    </div>

</body>
</html>