<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Parameter amount</title>
    <link rel="stylesheet" href="{{ static("css/bootstrap.css")}}">
</head>
<body class="bg-dark text-light">

<main class="py-5">

    <div class="container">

        <div class="row justify-content-center">

            <div class="col col-lg-6">

                <form action="{{ url_for("get_first_data") }}" method="post">

                    <div class="mb-3">

                        <label for="message_ammount" class="form-label">
                            How many parameters in a message tag?
                        </label>
                        <input type="number" id="message_ammount" name="message_parameter_ammount" class="form-control"
                               required>

                    </div>

                    <div class="mb-3">

                        <label for="pagination_ammount" class="form-label">
                            How many parameters in a pagination tag?
                        </label>
                        <input type="number" id="pagination_ammount" name="pagination_parameter_ammount"
                               class="form-control" required>

                    </div>

                    <div class="mb-3">

                        <label for="thread_post_ammount" class="form-label">
                            How many parameters in a thread post tag?
                        </label>
                        <input type="number" id="thread_post_ammount" name="thread_post_parameter_ammount"
                               class="form-control" required>

                    </div>

                    <div class="mb-3">

                        <label for="forum_threads_ammount" class="form-label">
                            How many parameters in a forum thread tag?
                        </label>
                        <input type="number" id="forum_threads_ammount" name="forum_threads_parameter_ammount"
                               class="form-control" required>

                    </div>

                    <div class="my-3">


                        <button class="btn btn-lg btn-success d-block w-100" type="submit">
                            Submit
                        </button>


                    </div>

                </form>

            </div>

        </div>

    </div>


</main>

</body>
</html>